modules = ["python-3.12", "web"]
run = "python manage.py runserver "

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true

[deployment]
run = ["sh", "-c", "python manage.py runserver "]

[workflows]
runButton = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = 42695389
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Task7"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:8000"
